body {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #333;
	margin: 0;
	padding: 0;
    background-color: black;
}

a {
	color: #08c;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	color: #222;
	font-weight: 100;
	margin: 0.5em 0;
}

label {
	color: #999;
	display: inline-block;
	font-size: 0.85em;
	font-weight: bold;
	margin: 1em 0;
	text-transform: uppercase;
}

.hint {
	margin: 15px 0;
	font-style: italic;
	color: #999;
}

.ReactCodeMirror {
	border: 0px solid #ccc;
    height: 100%;
}

.CodeMirror {
    height: 100%;
}

.flex-container {
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 100vh;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
}
.tiny-flex {
    width: 2px;
    height: 100vh;
    color: black;
}


.top-menu {
	display: flex;
}

.code-container {

	    height: 100vh;
	    color: white;
	    overflow-y: auto;
}

.menu-item {
	background-color:transparent;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	display:inline-block;
    border:1px solid #e7e7e7;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:21px;
	padding:6px 24px;
	text-decoration:none;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.menu-item:hover {
	background-color:#e7e7e7;
}
.menu-item:active {
	position:relative;
	top:1px;
}

.run-button {
	background-color: green;
}

.running {
	background-color: red;
}

.handle{
	 transform: translate(0px, 0px) !important;
}

.lang-select {
    background-color:transparent;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    display:inline-block;
    border:1px solid #e7e7e7;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:21px;
    padding:6px 24px;
}
